<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h1>Counter Assignment!</h1>
    <p>{{session['count']}} : Number of views</p>
    <div class="button"><a href="/">Add View</a></div>
    <div class="button"><a href="/destroy_session">Reset</a></div>
    <div class="button"><a href="/addCount2">Add 2!</a></div>
</body>
</html>