<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/create_sasquatch.css')}}">
</head>
<body>
    <div class="spacer">
        <h1 class="header">Sasquatch Websighting</h1>
        <div class="links">
            <p>{{user.full_name}}</p>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="main">
        <div class="container">
            {% with messages = get_flashed_messages(category_filter=["sasquatch_error"]) %}
                {% if messages %}
                <div class="flash">
                    {% for message in messages %}
                        <span>{{message}}</span><br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
                <form action="/sasquatch/create" method="POST">
                        <div class="block">
                            <label for="location">Location Spotted:</label>
                            <input type="text" name="location">
                        </div>
                        <div class="block">
                            <label for="what_happened">What Happened:</label>
                            <input type="text" name="what_happened" class="long-form">
                        </div>
                        <div class="block">
                            <label for="date_seen">Date Spotted:</label>
                            <input type="date" name="date_seen" id="date_seen">
                        </div>
                        <div class="block">
                            <label for="count"># of Sasquatches:</label>
                            <input type="number" name="count" min="1" max="25">
                        </div>
                        <div class="block">
                            <input type="submit" value="Submit" class="button">
                        </div>
                </form>
        </div>
    </div>
</body>
</html>